* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contenedor {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}

body {
  font-family: sans-serif;
  background-color: #dcdde1;
}

header{
  width: 100%;
  margin: 20px auto;
}

header nav {
  height: 100px;
  background: #2c3e50;
  padding: 0 20px;
  color: #d2dae2;
}

header nav ul {
  list-style: none;
  overflow: hidden;
  float: right;
  line-height: 100px;
}

header nav ul li {
  float: right;
  padding: 0 10px;
}

header nav ul li a {
  display: block;
  padding: 20px;
  color: #d2dae2;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
}

header nav ul li a:hover {
  color: #0097e6;
}

.logo h2 {
  line-height: 100px;
  padding: 0 20px;
  float: left;
  color: #d2dae2;
  text-transform: uppercase;
}

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  max-width: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
}

.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
  color: #0097e6;
}

.show-menu-btn, .hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content {
  /*padding: 80px 40px;*/
  width: 0 auto;
}

.content img {
  width: 200%;
  max-width: 1000px;
  margin: 0 20px;
}

.content p {
  text-align: justify;
  width: auto;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 130px;
}

.container {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
}

.box {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e272e;
  text-align: center;
}

.box h1 {
  color: #d2dae2;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4b7bec;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #d2dae2;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
  width: 250px;
  border-color: #05c46b;
}

.box input[type="button"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #05c46b;
  padding: 14px 40px;
  outline: none;
  color: #d2dae2;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="button"]:hover {
  background: #05c46b;
}

#informacion {
  color: #e84118;
}

@media screen and (max-width: 919px) {
  .show-menu-btn, .hide-menu-btn {
    display: block;
  }

  header nav ul {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: #333;
    right: 100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  header nav ul li a {
    display: block;
    padding: 20px;
  }

  .hide -menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #chk:checked~.menu {
    right: 0;
  }
}
