*{
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
  background: #dcdde1;
}

header{
  width: 100%;
  color: #dcdde1;
}

header nav{
  width: 100%;
  max-width: 70%;
  margin-left:  15%;
  background: #2c3e50;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
}

header nav ul{
  overflow: hidden;
  list-style: none;
}

header nav ul li{
  float: right;
}

header nav ul li a{
  color: #dcdde1;
  padding: 20px;
  display: block;
  text-decoration: none;
  transition: 0.4s;
}

header nav ul li a:hover{
  background: #0097e6;
}

header .logo{
    text-transform: uppercase;
  display: block;
  float: left;
  margin: 20px  30px;
  
}

.menu_bar{
  display: none;
}

section{
  padding: 0px 20%;
}

section h1{
  font-weight: bold;
  font-size: 400%;

}

section img{
  width: 100%;
}

section p{
margin-left: 1%;
  text-align: justify;
  width: 98%;
}

@media screen and (max-width:920px){
  header nav{
    right: 2%;
    top: -100%;
    width: 30%;
    height: 35%;
    margin-top: 60px;
    position: fixed;
    z-index: 2;
  }

  header nav ul li{
    display: block;
    float: none;
    border-top: 1px solid rgba(225,225,225,.3);
  }

  header .logo{
    display: none;
  }

  .menu_bar{
    display: block;
    width: 100%;
    background: #2c3e50;
    position: fixed;
    z-index: 3;
  }

  .menu_bar .btn_menu{
    display: block;
    padding: 20px;
    color: #dcdde1;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }

  .menu_bar .btn_close{
    display: none;
    padding: 20px;
    color: #dcdde1;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }

  .menu_bar span{
    float:right;
    margin-right: 20
    px;
    font-size: 40px;
  }
}




.container {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
  display: none;
}

.box {
  width: 350px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e272e;
  text-align: center;
}

.box a span{
  color: #d2dae2;
  display: block;
    float:right;
    font-size: 20px;
}

.box h1 {
  color: #d2dae2;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #4b7bec;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #d2dae2;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
  width: 250px;
  border-color: #05c46b;
}

.box input[type="button"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #05c46b;
  padding: 14px 40px;
  outline: none;
  color: #d2dae2;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="button"]:hover {
  background: #05c46b;
}

#informacion {
  color: #e84118;
}
